.album-container {
    display: grid;
    grid-template-areas: 
    "a b c d"
    "e f g h"
    "i j k l"
    "m n o p";
    gap: 1vw;
    width: max(40vw, 40vw);
    height: max(40vw, 40vw);
    padding: 5vw;
    border-radius: .5vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.872);
    background: var(--color-gray);
}

.album {
    display: flex;
    border: none;
    border-radius: .5vw;
    background: var(--color-dark-gray);
}

.album:hover {
    cursor: pointer;
}

.album__img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: .5vw;
    position: relative;
    z-index: -1;
}