.stadistics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max(40vw, 40vw);
    padding: 1vw 0;
}

.stadistics__tittle { 
    color: var(--color-white);
    letter-spacing: 3px;
    text-align: left;
    font-size: max(3vw, 20px);
}

.stadistics__control--time, .stadistics__control--newgame{
    color: var(--color-white);
    text-align: center;
    letter-spacing: 2px;
    font-size: max(1vw, 15px);
    margin-bottom: .3vw;
}

.stadistics__control--newgame {
    background: var(--color-red);
    padding: max(.1vw, 2.5px) max(1vw, 5px);
    border-radius: 100px;
}